In [2]:
#Import necessary things
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from bs4 import BeautifulSoup

In [65]:
#Import movies data from Wikipedia
target_movies = pd.read_csv('all_movies.csv')
target_movies = target_movies.drop('Unnamed: 0', axis = 1)
target_movies.head()

             title  year          director
0               12  2007  Nikita Mikhalkov
1               13  2010     Géla Babluani
2     13 Assassins  2011     Takashi Miike
3  The 13th Letter  1951    Otto Preminger
4   101 Dalmatians  1996     Stephen Herek

In [66]:
#Now import list of (domestic) movies for which Box Office Mojo has data 
mojo_movies = pd.read_csv('mojo_list.csv')
mojo_movies = mojo_movies.drop('Unnamed: 0', axis = 1)
mojo_movies.head()

,title,year,url,studio,gross
0,Star Wars: The Force Awakens,2015,/movies/?id=starwars7.htm,BV,"$936,662,225"
1,Avatar,2009,/movies/?page=releases&id=avatar.htm,Fox,"$760,507,625"
2,Titanic,1997,/movies/?page=releases&id=titanic.htm,Par.,"$658,672,302"
3,Jurassic World,2015,/movies/?id=jurassicpark4.htm,Uni.,"$652,270,625"
4,Marvel's The Avengers,2012,/movies/?id=avengers11.htm,BV,"$623,357,910"

In [67]:
print target_movies.title
print mojo_movies.title

0                                               12
1                                               13
2                                     13 Assassins
3                                  The 13th Letter
4                                   101 Dalmatians
5                                     2001 Maniacs
6                                     3:10 to Yuma
7       Abbott and Costello Meet the Invisible Man
8                                 About Last Night
9                                         Adorable
10                           An Affair to Remember
11                                Against All Odds
12                                           Alfie
13                                         Algiers
14                                          Always
15                           The Amityville Horror
16                           And God Created Woman
17                           And Soon the Darkness
18                          Angels in the Outfield
19                            Angel on My Shoulder
20                                           Annie
21                                       Annavaram
22                               Another Fine Mess
23                            Anthropophagous 2000
24                                April Fool's Day
25                                      Apthamitra
26                                 Arch of Triumph
27                                       The Arena
28                                          Arthur
29                          Assault on Precinct 13
                           ...
1036                          The More the Merrier
1037                      Sous le ciel de Provence
1038                                  Walking Tall
1039                               Waterloo Bridge
1040                         The War of the Worlds
1041                          The Way of All Flesh
1042                               Castle of Blood
1043                                       Stepmom
1044                    Big Deal on Madonna Street
1045                               We're No Angels
1046                       The Reluctant Debutante
1047              What Ever Happened to Baby Jane?
1048                               What Women Want
1049                         When a Stranger Calls
1050                            Where the Boys Are
1051                               The Wicked Lady
1052                                The Wicker Man
1053                                 L'Appartement
1054                                       Willard
1055                                         Blind
1056                            The Wizard of Gore
1057                                  The Wolf Man
1058              Un éléphant ça trompe énormément
1059                                     The Women
1060                                         Gigot
1061                       The Yellow Handkerchief
1062                                          Jogi
1063                          Yours, Mine and Ours
1064                       The Major and the Minor
1065                    The Shop Around the Corner
Name: title, dtype: object
0                         Star Wars: The Force Awakens
1                                               Avatar
2                                              Titanic
3                                       Jurassic World
4                                Marvel's The Avengers
5                                      The Dark Knight
6                                         Finding Dory
7            Star Wars: Episode I - The Phantom Menace
8                                            Star Wars
9                              Avengers: Age of Ultron
10                               The Dark Knight Rises
11                                             Shrek 2
12                         E.T.: The Extra-Terrestrial
13                     The Hunger Games: Catching Fire
14          Pirates of the Caribbean: Dead Man's Chest
15                                       The Lion King
16                                         Toy Story 3
17                                          Iron Man 3
18                          Captain America: Civil War
19                                    The Hunger Games
20                                          Spider-Man
21                                       Jurassic Park
22                 Transformers: Revenge of the Fallen
23                                              Frozen
24         Harry Potter and the Deathly Hallows Part 2
25                                        Finding Nemo
26        Star Wars: Episode III - Revenge of the Sith
27       The Lord of the Rings: The Return of the King
28                                        Spider-Man 2
29                           The Passion of the Christ
                             ...
14355                                      Escape Fire
14356                                        Boulevard
14357                              Turn Me On, Dammit!
14358                                            Baran
14359                                    Europa Report
14360                              Spirits' Homecoming
14361                                 Green Card Fever
14362                            Dhan Dhana Dhana Goal
14363                               Gaby: A True Story
14364                                  The Night Flier
14365                                           Fukrey
14366                               A Ballerina's Tale
14367                                               12
14368                                   Make Your Move
14369                                        Chop Shop
14370                                 Beyond the Hills
14371                                       Sweet Bean
14372                                          Oleanna
14373                               Final: The Rapture
14374                        The First Saturday in May
14375                                The Square (2013)
14376                            Rita, Sue and Bob Too
14377                             Knights of Badassdom
14378                            The Beyond (re-issue)
14379                              Were the World Mine
14380                             Haseena Mann Jaayegi
14381                              War Eagle, Arkansas
14382                                           Eureka
14383                                        Centurion
14384             What Women Want (Wo Zhi Nu Run Xin)
Name: title, dtype: object

In [33]:
for target_title in target_movies.title:
    for mojo_title in mojo_movies.title:
        #if mojo_title in target_title:
         #   mjrow.title = tmrow.title

In [58]:
re.sub("\s*\(\d{3,4}\)\s*$", "", "The Square (2013)")

'The Square'

In [68]:
import re
mojo_movies['fix_title'] = mojo_movies.title.map(lambda x: re.sub("\s*\(\d{4}\)\s*$", "", x))

In [74]:
mojo_movies.title = mojo_movies.title.map(str.strip)

In [75]:
mojo_movies.fix_title = mojo_movies.fix_title.map(str.strip)

In [76]:
target_movies.title = target_movies.title.map(str.strip)

In [70]:
mojo_movies[mojo_movies.title == "101 Dalmatians"]

,title,year,url,studio,gross,fix_title
7808,101 Dalmatians,1961,/movies/?page=releases&id=101dalmations.htm,Dis.,"$144,880,014",101 Dalmatians

In [37]:
for index1, target_row in target_movies.iterrows():
    for index2, mojo_row in mojo_movies.iterrows():

        if mojo_row['title] in target_row['title']:
        #     mojo.title = target.title
            
for index, row in df.iterrows():
print index, row['some column']

TypeError: argument of type 'builtin_function_or_method' is not iterable

In [77]:
# Merge these dataframes
targets_available = pd.merge(target_movies, mojo_movies, how = 'left', left_on = ['title', 'year'], right_on = ['fix_title', 'year'])
targets_available.head()

,title_x,year,director,title_y,url,studio,gross,fix_title
0,12,2007,Nikita Mikhalkov,NaN,NaN,NaN,NaN,NaN
1,13,2010,Géla Babluani,NaN,NaN,NaN,NaN,NaN
2,13 Assassins,2011,Takashi Miike,13 Assassins,/movies/?id=13assassins.htm,Magn.,"$802,778",13 Assassins
3,The 13th Letter,1951,Otto Preminger,NaN,NaN,NaN,NaN,NaN
4,101 Dalmatians,1996,Stephen Herek,101 Dalmatians (1996),/movies/?id=101dalmatiansliveaction.htm,BV,"$136,189,294",101 Dalmatians

In [22]:
len(targets_available)

1066

In [79]:
targets_available

,title_x,year,director,title_y,url,studio,gross,fix_title
0,12,2007,Nikita Mikhalkov,NaN,NaN,NaN,NaN,NaN
1,13,2010,Géla Babluani,NaN,NaN,NaN,NaN,NaN
2,13 Assassins,2011,Takashi Miike,13 Assassins,/movies/?id=13assassins.htm,Magn.,"$802,778",13 Assassins
3,The 13th Letter,1951,Otto Preminger,NaN,NaN,NaN,NaN,NaN
4,101 Dalmatians,1996,Stephen Herek,101 Dalmatians (1996),/movies/?id=101dalmatiansliveaction.htm,BV,"$136,189,294",101 Dalmatians
5,2001 Maniacs,2005,Tim Sullivan,NaN,NaN,NaN,NaN,NaN
6,3:10 to Yuma,2007,James Mangold,3:10 to Yuma (2007),/movies/?id=310toyuma.htm,LGF,"$53,606,916",3:10 to Yuma
7,Abbott and Costello Meet the Invisible Man,1951,Charles Lamont,NaN,NaN,NaN,NaN,NaN
8,About Last Night,2014,Steve Pink,About Last Night (2014),/movies/?id=aboutlastnight14.htm,SGem,"$48,637,684",About Last Night
9,Adorable,1933,William Dieterle,NaN,NaN,NaN,NaN,NaN
10,An Affair to Remember,1957,Leo McCarey,NaN,NaN,NaN,NaN,NaN
11,Against All Odds,1984,Taylor Hackford,Against All Odds,/movies/?id=againstallodds.htm,Col.,"$21,689,062",Against All Odds
12,Alfie,2004,Charles Shyer,Alfie,/movies/?id=alfie.htm,Par.,"$13,399,812",Alfie
13,Algiers,1938,John Cromwell,NaN,NaN,NaN,NaN,NaN
14,Always,1989,Steven Spielberg,Always,/movies/?id=always.htm,Uni.,"$43,858,790",Always
15,The Amityville Horror,2005,Andrew Douglas,The Amityville Horror (2005),/movies/?id=amityvillehorror05.htm,MGM,"$65,233,369",The Amityville Horror
16,And God Created Woman,1988,Roger Vadim,And God Created Woman,/movies/?id=andgodcreatedwoman.htm,Vest,"$717,376",And God Created Woman
17,And Soon the Darkness,2010,Marcos Efron,NaN,NaN,NaN,NaN,NaN
18,Angels in the Outfield,1994,William Dear,Angels in the Outfield (1994),/movies/?id=angelsintheoutfield.htm,BV,"$50,236,831",Angels in the Outfield
19,Angel on My Shoulder,1980,John Berry,NaN,NaN,NaN,NaN,NaN
20,Annie,2014,Will Gluck,Annie (2014),/movies/?id=annie2014.htm,Sony,"$85,911,262",Annie
21,Annavaram,2006,Bhimaneni Srinivas Rao,NaN,NaN,NaN,NaN,NaN
22,Another Fine Mess,1930,James Parrott,NaN,NaN,NaN,NaN,NaN
23,Anthropophagous 2000,1999,Andreas Schnaas,NaN,NaN,NaN,NaN,NaN
24,April Fool's Day,2008,Mitchell Altieri,NaN,NaN,NaN,NaN,NaN
25,Apthamitra,2004,P. Vasu,NaN,NaN,NaN,NaN,NaN
26,Arch of Triumph,1985,Waris Hussein,NaN,NaN,NaN,NaN,NaN
27,The Arena,2001,Timur Bekmambetov,NaN,NaN,NaN,NaN,NaN
28,Arthur,2011,Jason Winer,Arthur (2011),/movies/?id=arthur2011.htm,WB,"$33,035,397",Arthur
29,Assault on Precinct 13,2005,Jean-François Richet,Assault on Precinct 13,/movies/?id=assaultonprecinct13.htm,Rog.,"$20,040,895",Assault on Precinct 13
...,...,...,...,...,...,...,...,...
1036,The More the Merrier,1943,George Stevens,NaN,NaN,NaN,NaN,NaN
1037,Sous le ciel de Provence,1956,Mario Soldati,NaN,NaN,NaN,NaN,NaN
1038,Walking Tall,1973,Phil Karlson,NaN,NaN,NaN,NaN,NaN
1039,Waterloo Bridge,1931,James Whale,NaN,NaN,NaN,NaN,NaN
1040,The War of the Worlds,1953,Byron Haskin,NaN,NaN,NaN,NaN,NaN
1041,The Way of All Flesh,1927,Victor Fleming,NaN,NaN,NaN,NaN,NaN
1042,Castle of Blood,1964,Antonio Margheriti,NaN,NaN,NaN,NaN,NaN
1043,Stepmom,1998,Chris Columbus,Stepmom,/movies/?id=stepmom.htm,Sony,"$91,137,662",Stepmom
1044,Big Deal on Madonna Street,1958,Mario Monicelli,NaN,NaN,NaN,NaN,NaN
1045,We're No Angels,1955,Michael Curtiz,NaN,NaN,NaN,NaN,NaN
1046,The Reluctant Debutante,1958,Vincente Minnelli,NaN,NaN,NaN,NaN,NaN
1047,What Ever Happened to Baby Jane?,1962,Robert Aldrich,NaN,NaN,NaN,NaN,NaN
1048,What Women Want,2000,Nancy Meyers,What Women Want,/movies/?id=whatwomenwant.htm,Par.,"$182,811,707",What Women Want
1049,When a Stranger Calls,1979,Fred Walton,When a Stranger Calls,/movies/?page=releases&id=whenastrangercalls.htm,Col.,"$21,411,158",When a Stranger Calls
1050,Where the Boys Are,1960,Henry Levin,NaN,NaN,NaN,NaN,NaN
1051,The Wicked Lady,1945,Leslie Arliss,NaN,NaN,NaN,NaN,NaN
1052,The Wicker Man,1973,Robin Hardy,NaN,NaN,NaN,NaN,NaN
1053,L'Appartement,1996,Gilles Mimouni,NaN,NaN,NaN,NaN,NaN
1054,Willard,1971,Daniel Mann,NaN,NaN,NaN,NaN,NaN
1055,Blind,2011,Ahn Sang-hoon,NaN,NaN,NaN,NaN,NaN
1056,The Wizard of Gore,1970,Herschell Gordon Lewis,NaN,NaN,NaN,NaN,NaN
1057,The Wolf Man,1941,George Waggner,NaN,NaN,NaN,NaN,NaN
1058,Un éléphant ça trompe énormément,1976,Yves Robert,NaN,NaN,NaN,NaN,NaN
1059,The Women,1939,George Cukor,NaN,NaN,NaN,NaN,NaN
1060,Gigot,1962,Gene Kelly,NaN,NaN,NaN,NaN,NaN
1061,The Yellow Handkerchief,1977,Yoji Yamada,NaN,NaN,NaN,NaN,NaN
1062,Jogi,2005,Prem,NaN,NaN,NaN,NaN,NaN
1063,"Yours, Mine and Ours",1968,Melville Shavelson,NaN,NaN,NaN,NaN,NaN
1064,The Major and the Minor,1942,Billy Wilder,NaN,NaN,NaN,NaN,NaN
1065,The Shop Around the Corner,1940,Ernst Lubitsch,NaN,NaN,NaN,NaN,NaN

In [78]:
targets_available.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1066 entries, 0 to 1065
Data columns (total 8 columns):
title_x      1066 non-null object
year         1066 non-null int64
director     1066 non-null object
title_y      295 non-null object
url          295 non-null object
studio       295 non-null object
gross        295 non-null object
fix_title    295 non-null object
dtypes: int64(1), object(7)
memory usage: 75.0+ KB