# Challenge 7

Topic: SQL<br>
Date: 10/31/2016 <br>
Name: Travis James <br>

**Challenge 7.1**

What customers are from the UK?

```sql
SELECT * FROM Customers WHERE Country = 'UK';
```

>4	Around the Horn	Thomas Hardy	120 Hanover Sq.	London	WA1 1DP	UK<br/>
11	B's Beverages	Victoria Ashworth	Fauntleroy Circus	London	EC2 5NT	UK<br/>
16	Consolidated Holdings	Elizabeth Brown	Berkeley Gardens 12 Brewery	London	WX1 6LT	UK<br/>
19	Eastern Connection	Ann Devon	35 King George	London	WX3 6FW	UK<br/>
38	Island Trading	Helen Bennett	Garden House Crowther Way	Cowes	PO31 7PJ	UK<br/>
53	North/South	Simon Crowther	South House 300 Queensbridge	London	SW7 1RZ	UK<br/>
72	Seven Seas Imports	Hari Kumar	90 Wadhurst Rd.	London	OX15 4NB	UK<br/>

**Challenge 7.2**

What is the name of the customer who has the most orders?

```sql
SELECT Quantity, CustomerName
FROM OrderDetails
JOIN Orders
ON OrderDetails.OrderID = Orders.OrderID
JOIN Customers
ON Orders.CustomerID = Customers.CustomerID
GROUP BY CustomerName
ORDER BY Quantity DESC
```

>Quantity	ContactName <br/>
90	Jose Pavarotti

**Challenge 7.3**

What supplier has the highest average product price?

```sql
SELECT SupplierName, AVG(Price)
FROM Suppliers
JOIN Products
ON Suppliers.SupplierID = Products.SupplierID
GROUP BY SupplierName
ORDER BY AVG(Price) DESC
```
>SupplierName	AVG(Price) <br/>
Aux joyeux ecclÃ©siastiques	140.75

**Challenge 7.4**

How many different countries are their customers from? 

```sql
SELECT COUNT(DISTINCT Country)
FROM Customers
```

>COUNT(DISTINCT Country)<br/>
21

**Challenge 7.5**

What category appears in the most orders?

```sql
SELECT CategoryName, SUM(Quantity) AS 'Total Orders'
FROM OrderDetails
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
JOIN Categories
ON Products.CategoryID = Categories.CategoryID
```

>CategoryName	Total Orders<br/>
Dairy Products	2601<br/>
Beverages	2289<br/>
Confections	2110<br/>
Seafood	1445<br/>
Condiments	1383<br/>
Meat/Poultry	1288<br/>
Grains/Cereals	912<br/>
Produce	715<br/>

**Challenge 7.6**

What was the total cost for each order?

```sql
SELECT OrderID, Quantity*Price AS 'Total Cost'
FROM OrderDetails
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
GROUP BY OrderID
ORDER BY Quantity*Price DESC
```

>OrderID	Total Cost<br/>
10353	13175<br/>
10430	3850<br/>
10324	3512<br/>
10316	3451<br/>
10398	2880<br/>
10402	2853.5<br/>
etc...

**Challenge 7.7**

What employee made the most sales (by total cost)?

```sql
SELECT FirstName, LastName, Quantity*Price AS 'Total Sales'
FROM OrderDetails
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
JOIN ORDERS
ON Orders.OrderID = OrderDetails.OrderID
JOIN Employees
ON Orders.EmployeeID = Employees.EmployeeID
GROUP BY FirstName, LastName
```

>FirstName	LastName	Total Sales<br/>
Margaret	Peacock	2565<br/>
Janet	Leverling	1020<br/>
Steven	Buchanan	954<br/>
Laura	Callahan	547.2<br/>
Nancy	Davolio	500<br/>
Anne	Dodsworth	495<br/>
Michael	Suyama	300<br/>
Robert	King	240<br/>
Andrew	Fuller	62.46<br/>

**Challenge 7.8**

What employees have BS degrees?

```sql
SELECT FirstName, LastName
FROM Employees
WHERE Notes LIKE '%BS%'
```

>FirstName	LastName<br/>
Janet	Leverling<br/>
Steven	Buchanan<br/>

**Challenge 7.9**

What supplier of three or more products has the highest average product price?

```sql
SELECT SupplierName, AVG(Price) AS 'Average Product Price'
FROM Products
JOIN Suppliers
ON Products.SupplierID = Suppliers.SupplierID
GROUP BY SupplierName
HAVING COUNT(ProductID) >= 3
ORDER BY AVG(Price) DESC
```

>SupplierName	Average Product Price<br/>
Tokyo Traders	46