**Challenge 1: What customers are from the UK?**  

**Query**  
SELECT * FROM Customers WHERE Country = 'UK';  

**Result**  
CustomerID	CustomerName	ContactName	Address	City	PostalCode	Country  
4	Around the Horn	Thomas Hardy	120 Hanover Sq.	London	WA1 1DP	UK  
11	B's Beverages	Victoria Ashworth	Fauntleroy Circus	London	EC2 5NT	UK  
16	Consolidated Holdings	Elizabeth Brown	Berkeley Gardens 12 Brewery	London	WX1 6LT	UK  
19	Eastern Connection	Ann Devon	35 King George	London	WX3 6FW	UK  
38	Island Trading	Helen Bennett	Garden House Crowther Way	Cowes	PO31 7PJ	UK  
53	North/South	Simon Crowther	South House 300 Queensbridge	London	SW7 1RZ	UK  
72	Seven Seas Imports	Hari Kumar	90 Wadhurst Rd.	London	OX15 4NB	UK

**Challenge 2: What is the name of the customer who has the most orders?**

**Query**  
SELECT c.CustomerName, COUNT(*) as order_count FROM Customers c, Orders o WHERE c.CustomerID=o.CustomerID GROUP BY c.CustomerName ORDER BY COUNT(*) DESC;

**Result**  
The top record is:  
CustomerName	order_count  
Ernst Handel	10

**Challenge 3: What supplier has the highest average product price?**  

**Query**  
SELECT s.SupplierName, AVG(Price) as avg_price FROM Suppliers s, Products p where s.SupplierID=p.SupplierID GROUP BY s.SupplierName ORDER BY avg_price DESC;  

**Result**  
SupplierName	avg_price  
Aux joyeux ecclÃ©siastiques	140.75

**Challenge 4: How many different countries are their customers from? (Hint: Consider DISTINCT.)**  

**Query**  
SELECT DISTINCT Country FROM Customers;

**Result**  
Number of Records: 21 (they are then listed)

**Challenge 5: What category appears in the most orders?**  

**Query**  
SELECT inner.CategoryName, max(inner.count) from
(SELECT c.CategoryID, c.CategoryName, count(distinct od.OrderID) as count
FROM OrderDetails od
INNER JOIN Products p
on od.ProductID = p.ProductID
INNER JOIN Categories c 
on p.CategoryID = c.CategoryID
group by c.CategoryID        
order by 3 desc) as inner;

**Result**  

CategoryName	max(inner.count)  
Beverages	80

**Challenge 6: What was the total cost for each order?**

**Query**  
SELECT OrderID, sum(Price*Quantity) as cost
FROM
OrderDetails
INNER JOIN
Products
ON OrderDetails.ProductID = Products.ProductID
GROUP BY OrderID

**Result**  
Here there are 196 records.  Rather than showing them all, I show the first five:    
OrderID	cost  
10248	566  
10249	2329.25  
10250	2267.25  
10251	839.5  
10252	4662.5

**Challenge 7: What employee made the most sales (by total cost)?**

**Query**  
SELECT Employees.LastName, Sum(Products.Price) as TotalCost  
FROM Employees, Orders, Products, OrderDetails  
WHERE Orders.EmployeeID=Employees.EmployeeID  
AND Orders.OrderID = OrderDetails.OrderID  
AND Products.ProductID=OrderDetails.ProductID  
GROUP BY Employees.LastName  
ORDER BY Sum(Products.Price) DESC;  

**Result**  
The top result is:  
LastName	TotalCost  
Peacock	3887.22

**Challenge 8: What employees have BS degrees? (Hint: Look at the LIKE operator.)**

**Query**  
SELECT * FROM Employees WHERE Notes LIKE '%BS%';  

**Result**  
Number of Records: 2 (I've left off the 'Notes' section here)  
EmployeeID	LastName	FirstName	BirthDate	Photo  
3	Leverling	Janet	1963-08-30	EmpID3.pic	  
5	Buchanan	Steven	1955-03-04	EmpID5.pic

**Challenge 9: What supplier of three or more products has the highest average product price? (Hint: Look at the HAVING operator.)**

**Query**  
SELECT SupplierName, avg(Products.Price)  
FROM Suppliers, Products  
WHERE Products.SupplierID = Suppliers.SupplierID  
GROUP BY Suppliers.SupplierID  
HAVING count(DISTINCT Products.ProductID) >= 3  
ORDER BY avg(Products.Price) DESC;  

**Result**  
SupplierName	avg(Products.Price)  
Tokyo Traders	46